<h1>Listing Classes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @l_classes.each do |l_class| %>
  <tr>
    <td><%= l_class.name %></td>
    <td><%= l_class.notes %></td>
    <td><%= link_to 'Show', l_class %></td>
    <td><%= link_to 'Edit', edit_l_class_path(l_class) %></td>
    <td><%= link_to 'Destroy', l_class, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New L class', new_l_class_path %>
