<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Brief plan" %><br />
    <%= f.text_area :plan %>
  </div>
  <div class="field">
    <%= f.label "Request Resources (to be sent to technicians)" %><br />
    <%= f.text_area :reqs %>
  </div>
  <div class="field">
    <%= f.label :homework %><br />
    <%= f.text_field :homework %>
  </div>
  <div class="field">
    <%= f.label :when %><br />
    <%= datetime_select( "lesson", "when", :order => [:day, :month, :year] ) %>
  </div>
  <div class="field">
	<%= f.label "Class" %><br />
	<%= select("lesson", "l_class_id", LClass.all.collect {|c| [c.name, c.id] }) %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
